:root {
    --white: white;
    --black: black;
    --bg-body: rgba(22,14,30,1);
    --text-new: rgb(207 195 155);
}

html::-webkit-scrollbar{
    display: none;
}

body{
    overflow-x: hidden;
}

#main{
    width: 100vw;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    overflow-x: hidden;
    background-color: var(--bg-body);
    margin-right: -1rem;
    font-family: "Montserrat", arial, helvetica, sans-serif;

}



a {
    text-decoration: none;
}


li {
    list-style: none;
}

ul{
    padding: 0;
}





.text-uppercase {
    text-transform: uppercase;
}

.text-bold{
    font-weight: bold;
}